var eomnibarConfig = {
    isSandbox: 0,
    evernote: {
        developerToken: '',
        consumerKey: 'blurm-9322',
        consumerSecret: 'e07995a2b96d7819',
        hostName: 'https://www.evernote.com'
    },
    yinxiang: {
        developerToken: '',
        consumerKey: 'blurm',
        consumerSecret: '3c51cc37dc7c6ef5',
        hostName: 'https://app.yinxiang.com'
    }

}

