
/* Eomnibar CSS */
* {
  margin: 0;
  padding: 0;
}

#eomnibar ol, #eomnibar ul {
  /*list-style: none;*/
  /*line-height: 2.5rem;*/
  /*white-space: nowrap;*/
}

#eomnibar {
  display: block;
  position: fixed;
  width: calc(100% - 20px); /* adjusted to keep border radius and box-shadow visible*/
  padding-top: 8px;
  top: 8px;
  left: 8px;
  font-family: sans-serif;
  font-size: 16px;
  color: #93A9C8;
  background: #1C2736;
  text-align: left;
  border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.72);
  overflow: hidden;
  z-index: 2139999999; /* One less than hint markers and the help dialog (see ../content_scripts/evernote_qs.css). */
}

#eomnibar .eomnibar_spacer {
    padding-top: 0.5rem;
}

#eomnibar .suggestion_spacer {
    padding-top: 0.25rem;
}

#eomnibar .search-box__query {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background: #0b1016;
    border-radius: 2px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.125rem;
}
#eomnibar .icon {
    color: #93A9C8;
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    text-align: center;
    display: inline-block;
}
#eomnibar .search-box__search-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
#eomnibar .search-box__search-icon > .icon > svg {
    height: auto;
}

#eomnibar input {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: inherit;

  height: 2em;
  line-height: 1.5em;
  margin: 0.25em 0.5em;

  /*background-color: black;*/
  /*border-radius: 3px;*/
  /*border: 1px solid #E8E8E8;*/
  /*box-shadow: #444 0px 0px 1px;*/
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#eomnibar .eomnibarSearchArea {
  display: block;
  /*margin: 0 0.5rem;*/
  background-color: transparent;
}

#eomnibar li {
  padding: 0 1em;
  font-size: inherit;
  color: black;
  display: flex;
  margin: auto;
  background-color: #1C2736;
  border-top: 1px solid #2A3A51;
}

#eomnibar li:last-of-type {
  border-bottom: none;
}

#eomnibar li .eomnibarTopHalf, #eomnibar li .eomnibarBottomHalf {
  display: inline-flex;
  overflow: hidden;
  padding-top: 1px;
}

#eomnibar li .eomnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
}

#eomnibar li .eomnibarIcon {
  background-position-y: center;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#eomnibar li .eomnibarSource {
  background: url(images/evernote.png) no-repeat center;
  background-size: 1.5em;
  width: 1.6em;
  flex: 1 0 auto;
}
#eomnibar li .eomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: white;
  color: black;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#eomnibar li .eomnibarUrl {
  white-space: nowrap;
  color: #224684;
}

#eomnibar li .eomnibarMatch {
  font-weight: bold;
  color: #6aa673;
}

#eomnibar li em, #eomnibar li .eomnibarTitle {
  color: #93A9C8;
  font-weight: normal;
  padding: 0.7em;
}
#eomnibar li em { font-style: italic; }
#eomnibar li em .eomnibarMatch, #eomnibar li .eomnibarTitle .eomnibarMatch {
    color: #2DBE60;
}

#eomnibar li.eomnibarSelected {
  background-color: #2A3A51;
  /*background-color: #2DBE60;*/
  font-weight: normal;
}

#eomnibarInput::selection {
  /* This is the light grey color of the eomnibar border. */
  /* background-color: #F1F1F1; */

  /* This is the light blue color of the eomnibar selected item. */
  /* background-color: #BBCEE9; */

  /* This is a considerably lighter blue than Evernote_qs blue, which seems softer
   * on the eye for this purpose. */
  background-color: #E6EEFB;
}

.eomnibarInsertText {
}

.eomnibarNoInsertText {
  visibility: hidden;
}

